@model BeautySNS.Admin.Models.Friends.PendingRequestsViewModel

@{
    ViewBag.Title = "Pending Requests";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <br /><br /><br />
            <img src="@Url.Action("getImg", "Profile", new { id = Model.loggedInAccountID})" class="nav-avatar img-responsive" align="middle" alt="avatar" />
            <span class="avatar-span">
                <b>@Html.DisplayFor(model => model.fullName)</b>
            </span>
            <br />
            <span class="avatar-span">
                <a href="@Url.Action("FileUpload", "Profile", new { id = Model.loggedInAccountID })"> Change Profile Photo</a>
  </span>

     
            <br /><br/>

            <ul class="nav nav-sidebar">
                <li>
                    <a href="@Url.Action("NewsFeed", "Alert")">
                        <i class="glyphicon glyphicon-stats"></i>
                        <span>News Feed</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ProfileHomePage", "Profile")">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>My Profile</span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("AccountDetails", "Account", new {id = Model.loggedInAccountID })">
                        <i class="glyphicon glyphicon-cog"></i>
                        <span>Account Settings</span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Friends", "Friend")">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>My Network</span>
                    </a>
                </li>                   
            </ul>
           
          
            <span class="small-text">
                About Us | Privacy Policy | FAQs | Terms
                <p>&copy; @DateTime.Now.Year - BeautySNS</p>
            </span>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            @Html.Partial("_Message")

           <div class="content-block data-disp">

               <h4> @Html.ActionLink("View all People in My Network", "Friends", "Friend")</h4>

            <h3>Pending Requests</h3>
            <div class="sub-wrapper clearfix">
                @Html.Partial("_PendingInvitations", Model.FriendInvitations)
            </div>             
        </div>

                        </div>
                    </div>
                </div>
         

<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="~/Content/Dashboard.css" rel="stylesheet">

























