@model BeautySNS.Admin.Models.Accounts.ChangePasswordViewModel

@Html.Partial("_Message")

@{
    ViewBag.Title = "Change Password";
}

<h3>@ViewBag.Title.</h3>
<br />
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm(new { @class = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.email)
                <div class="form-group">
                    @Html.LabelFor(m => m.password, new { @class = "col-md-2 control-label" })
                    <div>
                        @Html.PasswordFor(m => m.password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                    </div>
                </div>
              <div></div>
                <div class="form-group">
                    @Html.LabelFor(m => m.confirmPassword, new { @class = "col-md-2 control-label" })
                    <div>
                        @Html.PasswordFor(m => m.confirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.confirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <br />
                        <input type="submit" value="Submit" class="btn btn-default" /> <a href="/Account" class="btn btn-default">Back</a>
                    </div>
                </div>

            }
            </section>
    </div>

</div>

<hr />
<footer>
    <p>
        <a href="@Url.Action("AboutUs", "Page")">About Us</a> |
        <a href="@Url.Action("PrivacyPolicy", "Page")">Privacy Policy</a> |
        <a href="@Url.Action("SiteTerms", "Page")">Terms and Conditions</a> |
        <a href="@Url.Action("FAQs", "Page")">FAQs</a> |
        <a href="@Url.Action("Register", "Account")">Sign Up</a> |
        <a href="@Url.Action("Login", "Account")"> Log In </a>
    </p>
    <p>BeautySNSUK@gmail.com</p>
    <p>&copy; @DateTime.Now.Year - BeautySNS </p>
</footer>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
