@model BeautySNS.Admin.Models.Accounts.RecoverPasswordViewModel

@Html.Partial("_Message")

@{
    ViewBag.Title = "Recover Password";
}

<h3>@ViewBag.Title.</h3>
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(m => m.email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
                </div>
            </div>  

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <br/>
                    <input type="submit" value="Submit" class="btn btn-default" /> <a href="/Account" class="btn btn-default">Back</a>
                </div>
            </div>

        }

    </div>
</div>
<br /><br/>

<hr />
<footer>
    <p>
        <a href="@Url.Action("AboutUs", "Page")">About Us</a> |
        <a href="@Url.Action("PrivacyPolicy", "Page")">Privacy Policy</a> |
        <a href="@Url.Action("SiteTerms", "Page")">Terms and Conditions</a> |
        <a href="@Url.Action("FAQs", "Page")">FAQs</a> |
        <a href="@Url.Action("Register", "Account")">Sign Up</a> |
        <a href="@Url.Action("Login", "Account")"> Log In </a>
    </p>
    <p>BeautySNSUK@gmail.com</p>
    <p>&copy; @DateTime.Now.Year - BeautySNS </p>
</footer>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


